.DS_Store

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

**/dist/
**/.turbo/
**/.next/
**/out/
**/*.log

backend/uploads/
frontend/remotion-caption-demo/props-*.json
frontend/remotion-caption-demo/out-*.mp4

.env
.env.*

.vscode/
.idea/
